body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#field {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: green;
}

#ball {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.5s ease-out;
}