ul {
    list-style-type: none;
    padding: 0;
}

li span {
    cursor: pointer;
}

li ul {
    display: none;
}

.folder:before {
    content: "+ ";
}

.folder.open:before {
    content: "- ";
}

li:hover span {
    font-weight: bold;
}